.App {
  text-align: center;
}

.calculator {
  width: 95vw;
  margin: auto;
  padding: 25px;
  background: rgb(139, 139, 103);
  box-shadow: 5px 7px 4px  rgb(102, 108, 126);
}

.calcDisplay {
  height: 20vh;
  margin-bottom: 25px;
  background: rgb(232, 237, 247);
}

.equationDisplay {
  height: 20vh;
  line-height: 20vh;
  margin: 0;
  width: 73.5%;
  text-align: left;
  padding-left: 2%;
  float: left;
  border-right: 2px solid black;
  font-weight: 400;
  overflow: hidden;
}

.mainDisplay {
  height: 20vh;
  line-height: 20vh;
  margin: 0;
  width: 23.5%;
  float: right;
  overflow: hidden;
}

.calcInputZone {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
}

.calcInput {
  background: #0A337F;
  color: white;
  box-shadow: 2px 2px 1px rgb(82, 11, 41);
  height: 22.25vw;
  line-height: 22.25vw;
}

.calcInput:active {
  background: blue;
  box-shadow: none;
  padding: 0 2px 2px 0;
  margin: 0 -2px -2px 0;
}

@media (min-width: 500px) {
  .calculator {
    width: 55vw;
  }

  .calcDisplay {
    height: 15vh;
  }

  .equationDisplay {
    height: 15vh;
    line-height: 15vh;
    margin: 0;
  }

  .mainDisplay {
    height: 15vh;
    line-height: 15vh;
    margin: 0;
  }

  .calcInputZone {
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
  }

  .calcInput {
    height: 11.5vw;
    line-height: 11.5vw;
  }
}

@media (min-width: 700px) {

  .calculator {
    width: 33vw;
  }

  .calcDisplay {
    height: 12vh;
  }

  .equationDisplay {
    height: 12vh;
    line-height: 12vh;
    margin: 0;
  }

  .mainDisplay {
    height: 12vh;
    line-height: 12vh;
    margin: 0;
  }

  .calcInputZone {
    grid-column-gap: .7vw;
    grid-row-gap: .7vw;
  }

  .calcInput {
    height: 7.5vw;
    line-height: 7.5vw;
  }
}

@media (min-width: 1500px) {
  .calculator {
    width: 20vw;
  }

  .calcInput {
    height: 4.3vw;
    line-height: 4.3vw;
  }
}